/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
  color: #024caa;
}

header p {
  font-size: 1.2em;
  color: #024caa;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #2ba4af;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #024caa;
}

section p,
section li {
  font-size: 1em;
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  color: #020202;
  text-decoration: none;
}
